{{ form_start(form) }}
    {{ form_widget(form) }}
    <div class="form-group">
        <label for="echeance">Echéance</label>
        <input type="number" class="form-control" style ="width:100%" id="echeance" placeholder="Vous paierez dans combien de mois ?" name="duree">
    </div>
    <button class="btn" style = "background-color:#70c097;"><b style = "color:#FFF">Enregister</b></button>
    <button class="btn" style = "background-color:#70c097;"><b><a href="{{ path('app_login') }}" style = "color:#FFF">Annuler</a></b></button>
{{ form_end(form) }}
